<div class="flex_gap_30 game_main_con">
    <div class="column sour_gummy_regular flex_gap_30 wait_code_con game_side_choice_r">
        <div class="column flex_gap_10 game_choice_card_con">
            <div class="game_card game_card_decrated flex_gap_10  game_card_style_2 game_choice_asnwer_card_domanda shrinks_on_active_for_no_reason btn_doubleBorder">
                <div id="<%= domanda[1] %>" class="card domanda  sour_gummy_bold game_card_domanda textAlign_start">
                    <%= domanda[0] %>
                </div>
                <div class="game_card_decoration_con game_card_decoration_style_2">
                    <svg width="20" height="20" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.6333 16.0645C43.4734 13.4658 36.525 13.4658 30.3651 16.0645C24.3093 18.6194 19.5163 23.475 17.0403 29.5634L16.9172 29.866C14.4051 36.0431 14.4051 42.9571 16.9172 49.1342L17.0403 49.4367C19.5163 55.5252 24.3093 60.3808 30.3651 62.9356C36.525 65.5343 43.4734 65.5343 49.6333 62.9356C49.8399 62.8485 50.045 62.7586 50.2485 62.6662C52.018 61.8626 51.2483 59.276 49.3725 58.7678C48.533 58.5404 47.705 58.2557 46.8944 57.9137C42.1362 55.9063 38.3703 52.0912 36.4248 47.3075L36.3282 47.0697C34.3543 42.2163 34.3543 36.7839 36.3281 31.9304L36.4248 31.6927C38.3703 26.9089 42.1362 23.0938 46.8944 21.0865C47.705 20.7445 48.533 20.4598 49.3726 20.2323C51.2484 19.7242 52.0181 17.1376 50.2486 16.334C50.045 16.2415 49.8399 16.1517 49.6333 16.0645Z" fill="#C2CCDE" />
                        <path d="M30.3651 16.0645L29.5877 14.2218L30.3651 16.0645ZM49.6333 16.0645L50.4107 14.2218V14.2218L49.6333 16.0645ZM17.0403 29.5634L15.1876 28.81L15.1876 28.81L17.0403 29.5634ZM16.9172 29.866L18.7699 30.6194H18.7699L16.9172 29.866ZM16.9172 49.1342L18.7699 48.3807H18.7699L16.9172 49.1342ZM17.0403 49.4367L15.1876 50.1902H15.1876L17.0403 49.4367ZM30.3651 62.9356L29.5877 64.7783V64.7783L30.3651 62.9356ZM49.6333 62.9356L50.4107 64.7783L49.6333 62.9356ZM46.8944 57.9137L46.1169 59.7564L46.8944 57.9137ZM36.4248 47.3075L34.5722 48.0609L34.5722 48.0609L36.4248 47.3075ZM36.3282 47.0697L38.1808 46.3163L38.1808 46.3163L36.3282 47.0697ZM36.3281 31.9304L34.4755 31.177L34.4755 31.177L36.3281 31.9304ZM36.4248 31.6927L38.2775 32.4462L38.2775 32.4461L36.4248 31.6927ZM46.8944 21.0865L47.6718 22.9292L46.8944 21.0865ZM50.2486 16.334L49.4216 18.155L50.2486 16.334ZM50.2485 62.6662L49.4215 60.8452L50.2485 62.6662ZM49.3725 58.7678L49.8955 56.8374L49.3725 58.7678ZM31.1425 17.9073C36.8053 15.5182 43.1931 15.5182 48.8559 17.9073L50.4107 14.2218C43.7538 11.4134 36.2446 11.4134 29.5877 14.2218L31.1425 17.9073ZM18.8929 30.3168C21.1692 24.7197 25.5754 20.2559 31.1425 17.9073L29.5877 14.2218C23.0433 16.9828 17.8635 22.2302 15.1876 28.81L18.8929 30.3168ZM18.7699 30.6194L18.8929 30.3168L15.1876 28.81L15.0646 29.1125L18.7699 30.6194ZM18.7699 48.3807C16.4542 42.6867 16.4542 36.3134 18.7699 30.6194L15.0646 29.1125C12.356 35.7727 12.356 43.2274 15.0646 49.8876L18.7699 48.3807ZM18.8929 48.6833L18.7699 48.3807L15.0646 49.8876L15.1876 50.1902L18.8929 48.6833ZM31.1425 61.0929C25.5754 58.7442 21.1692 54.2804 18.8929 48.6833L15.1876 50.1902C17.8635 56.7699 23.0433 62.0173 29.5877 64.7783L31.1425 61.0929ZM48.8559 61.0929C43.1931 63.4819 36.8053 63.4819 31.1425 61.0929L29.5877 64.7783C36.2446 67.5868 43.7538 67.5868 50.4107 64.7783L48.8559 61.0929ZM49.4215 60.8452C49.2344 60.9302 49.0458 61.0128 48.8559 61.0929L50.4107 64.7783C50.6339 64.6842 50.8556 64.5871 51.0756 64.4872L49.4215 60.8452ZM49.8955 56.8374C49.1422 56.6334 48.3992 56.3779 47.6718 56.071L46.1169 59.7564C47.0107 60.1335 47.9237 60.4475 48.8496 60.6983L49.8955 56.8374ZM47.6718 56.071C43.4023 54.2698 40.0232 50.8465 38.2775 46.554L34.5722 48.0609C36.7175 53.336 40.8702 57.5429 46.1169 59.7564L47.6718 56.071ZM38.2775 46.554L38.1808 46.3163L34.4755 47.8232L34.5722 48.0609L38.2775 46.554ZM38.1808 46.3163C36.4035 41.946 36.4035 37.0542 38.1808 32.6839L34.4755 31.177C32.3052 36.5135 32.3052 42.4867 34.4755 47.8232L38.1808 46.3163ZM38.1808 32.6839L38.2775 32.4462L34.5722 30.9393L34.4755 31.177L38.1808 32.6839ZM38.2775 32.4461C40.0232 28.1537 43.4023 24.7304 47.6718 22.9292L46.1169 19.2437C40.8702 21.4573 36.7175 25.6642 34.5722 30.9393L38.2775 32.4461ZM47.6718 22.9292C48.3993 22.6223 49.1422 22.3668 49.8955 22.1627L48.8497 18.3019C47.9238 18.5527 47.0107 18.8667 46.1169 19.2437L47.6718 22.9292ZM48.8559 17.9073C49.0458 17.9874 49.2344 18.07 49.4216 18.155L51.0756 14.513C50.8556 14.4131 50.6339 14.316 50.4107 14.2218L48.8559 17.9073ZM49.8955 22.1627C51.5909 21.7035 52.7488 20.3334 53.1161 18.8859C53.3046 18.1431 53.3099 17.284 52.9754 16.4592C52.6281 15.6026 51.9662 14.9175 51.0756 14.513L49.4216 18.155C49.4311 18.1593 49.4031 18.1478 49.3626 18.1062C49.3219 18.0644 49.2893 18.0133 49.2686 17.9622C49.2288 17.8642 49.2562 17.8342 49.239 17.902C49.2223 17.9679 49.1765 18.0629 49.0954 18.1488C49.019 18.2298 48.934 18.2791 48.8497 18.3019L49.8955 22.1627ZM51.0756 64.4872C51.9662 64.0827 52.6281 63.3975 52.9754 62.541C53.3098 61.7162 53.3046 60.857 53.1161 60.1143C52.7487 58.6668 51.5909 57.2967 49.8955 56.8374L48.8496 60.6983C48.9339 60.7211 49.0189 60.7704 49.0954 60.8514C49.1765 60.9373 49.2222 61.0323 49.239 61.0982C49.2562 61.166 49.2288 61.1359 49.2685 61.038C49.2892 60.9869 49.3218 60.9358 49.3625 60.894C49.403 60.8524 49.4311 60.8408 49.4215 60.8452L51.0756 64.4872Z" fill="#C2CCDE" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="row flex_gap_20 winner_btns">
            <div class="btn_square button btn_style_3 btn_doubleBorder" id="prima">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M27.9999 40.0004H23.7543C20.5071 40.0004 18.8808 36.0743 21.177 33.7782L36.1314 18.8238C38.1816 16.7736 41.5057 16.7736 43.556 18.8238L58.5103 33.7782C60.8065 36.0743 59.1803 40.0004 55.933 40.0004H51.9999L51.9999 52.4448L51.9999 62.4448C51.9999 63.5494 51.1045 64.4448 49.9999 64.4448H29.9999C28.8953 64.4448 27.9999 63.5494 27.9999 62.4448V52.4448V40.0004Z"
                          fill="#C2CCDE"/>
                    <path d="M27.9999 40.0004V38.5004C28.8283 38.5004 29.4999 39.172 29.4999 40.0004H27.9999ZM21.177 33.7782L22.2377 34.8388L21.177 33.7782ZM36.1314 18.8238L37.192 19.8845L36.1314 18.8238ZM43.556 18.8238L44.6166 17.7632V17.7632L43.556 18.8238ZM58.5103 33.7782L59.571 32.7175H59.571L58.5103 33.7782ZM51.9999 40.0004H50.4999C50.4999 39.172 51.1715 38.5004 51.9999 38.5004V40.0004ZM51.9999 52.4448H53.4999H51.9999ZM51.9999 62.4448H53.4999V62.4449L51.9999 62.4448ZM23.7543 38.5004H27.9999V41.5004H23.7543V38.5004ZM22.2377 34.8388C20.8864 36.1901 21.8434 38.5004 23.7543 38.5004V41.5004C19.1707 41.5004 16.8752 35.9586 20.1163 32.7175L22.2377 34.8388ZM37.192 19.8845L22.2377 34.8388L20.1163 32.7175L35.0707 17.7632L37.192 19.8845ZM42.4953 19.8845C41.0308 18.42 38.6565 18.42 37.192 19.8845L35.0707 17.7632C37.7067 15.1271 41.9806 15.1271 44.6166 17.7632L42.4953 19.8845ZM57.4497 34.8388L42.4953 19.8845L44.6166 17.7632L59.571 32.7175L57.4497 34.8388ZM55.933 38.5004C57.8439 38.5004 58.8009 36.19 57.4497 34.8388L59.571 32.7175C62.8121 35.9586 60.5166 41.5004 55.933 41.5004V38.5004ZM51.9999 38.5004H55.933V41.5004H51.9999V38.5004ZM50.4999 52.4448L50.4999 40.0004H53.4999L53.4999 52.4448H50.4999ZM50.4999 62.4448V52.4448H53.4999L53.4999 62.4448H50.4999ZM49.9999 62.9448C50.2761 62.9448 50.4999 62.721 50.4999 62.4448L53.4999 62.4449C53.4999 64.3778 51.9329 65.9448 49.9999 65.9448V62.9448ZM29.9999 62.9448H49.9999V65.9448H29.9999V62.9448ZM29.4999 62.4448C29.4999 62.721 29.7238 62.9448 29.9999 62.9448V65.9448C28.0669 65.9448 26.4999 64.3778 26.4999 62.4448H29.4999ZM29.4999 52.4448V62.4448H26.4999V52.4448H29.4999ZM29.4999 40.0004V52.4448H26.4999V40.0004H29.4999Z"
                          fill="#C2CCDE"/>
                </svg>
            </div>

            <div class="game_complete_cards_title flex_gap_10">
                <h4 class="sour_gummy_medium" id="answer_index">N/N</h4>
            </div>

            <div class="btn_square button btn_style_3 btn_doubleBorder" id="dopo">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M27.9999 40.0004H23.7543C20.5071 40.0004 18.8808 36.0743 21.177 33.7782L36.1314 18.8238C38.1816 16.7736 41.5057 16.7736 43.556 18.8238L58.5103 33.7782C60.8065 36.0743 59.1803 40.0004 55.933 40.0004H51.9999L51.9999 52.4448L51.9999 62.4448C51.9999 63.5494 51.1045 64.4448 49.9999 64.4448H29.9999C28.8953 64.4448 27.9999 63.5494 27.9999 62.4448V52.4448V40.0004Z"
                          fill="#C2CCDE"/>
                    <path d="M27.9999 40.0004V38.5004C28.8283 38.5004 29.4999 39.172 29.4999 40.0004H27.9999ZM21.177 33.7782L22.2377 34.8388L21.177 33.7782ZM36.1314 18.8238L37.192 19.8845L36.1314 18.8238ZM43.556 18.8238L44.6166 17.7632V17.7632L43.556 18.8238ZM58.5103 33.7782L59.571 32.7175H59.571L58.5103 33.7782ZM51.9999 40.0004H50.4999C50.4999 39.172 51.1715 38.5004 51.9999 38.5004V40.0004ZM51.9999 52.4448H53.4999H51.9999ZM51.9999 62.4448H53.4999V62.4449L51.9999 62.4448ZM23.7543 38.5004H27.9999V41.5004H23.7543V38.5004ZM22.2377 34.8388C20.8864 36.1901 21.8434 38.5004 23.7543 38.5004V41.5004C19.1707 41.5004 16.8752 35.9586 20.1163 32.7175L22.2377 34.8388ZM37.192 19.8845L22.2377 34.8388L20.1163 32.7175L35.0707 17.7632L37.192 19.8845ZM42.4953 19.8845C41.0308 18.42 38.6565 18.42 37.192 19.8845L35.0707 17.7632C37.7067 15.1271 41.9806 15.1271 44.6166 17.7632L42.4953 19.8845ZM57.4497 34.8388L42.4953 19.8845L44.6166 17.7632L59.571 32.7175L57.4497 34.8388ZM55.933 38.5004C57.8439 38.5004 58.8009 36.19 57.4497 34.8388L59.571 32.7175C62.8121 35.9586 60.5166 41.5004 55.933 41.5004V38.5004ZM51.9999 38.5004H55.933V41.5004H51.9999V38.5004ZM50.4999 52.4448L50.4999 40.0004H53.4999L53.4999 52.4448H50.4999ZM50.4999 62.4448V52.4448H53.4999L53.4999 62.4448H50.4999ZM49.9999 62.9448C50.2761 62.9448 50.4999 62.721 50.4999 62.4448L53.4999 62.4449C53.4999 64.3778 51.9329 65.9448 49.9999 65.9448V62.9448ZM29.9999 62.9448H49.9999V65.9448H29.9999V62.9448ZM29.4999 62.4448C29.4999 62.721 29.7238 62.9448 29.9999 62.9448V65.9448C28.0669 65.9448 26.4999 64.3778 26.4999 62.4448H29.4999ZM29.4999 52.4448V62.4448H26.4999V52.4448H29.4999ZM29.4999 40.0004V52.4448H26.4999V40.0004H29.4999Z"
                          fill="#C2CCDE"/>
                </svg>
            </div>
        </div>
    </div>

    <% if(staiInterrogando) { %>
        <div class="column flex_gap_10 game_side_choice_l">
            <h1 class="sour_gummy_regular_italic textAlign_center">Scegli la frase più divertente</h1>
            <button id="sendConferma" class="button btn_mediumText btn_style_1 sour_gummy_bold btn_doubleBorder">
                Conferma
            </button>
        </div>
    <% } %>

</div>

<script>
    const currentQuestion = document.querySelector(".domanda");
    const confirmBtn = document.getElementById("sendConferma");
    const defaultText = currentQuestion.textContent;
    const allAnswers = fromFragments["risposte"];
    const prevBtn = document.getElementById("prima");
    const nextBtn = document.getElementById("dopo");
    const answer_index = document.getElementById("answer_index");
    let currentIndex = 0;

    const updateQuestion = () => {
        const currentSelection = allAnswers[currentIndex];
        let questionText = defaultText;

        // currentSelection[1] dovrebbe essere l'array delle parole da inserire
        currentSelection[1].forEach(entry => {
            questionText = (questionText[0] === "_" || questionText[(questionText.indexOf("_") - 1)] === ".")
                ? questionText.replace("_", entry)
                : questionText.replace("_", bannedSymbols.includes(entry[0]) ? (entry[1].toUpperCase() + entry.slice(2)) : (entry[0].toLowerCase() + entry.slice(1)));
        });
        Array.from(bannedSymbols).forEach(letter => questionText.replaceAll(letter, ""));
        currentQuestion.textContent = questionText;
        answer_index.textContent = currentIndex + 1 + "/" + allAnswers.length;
    };

    prevBtn.addEventListener("click", () => {
        currentIndex = (currentIndex - 1 + allAnswers.length) % allAnswers.length;
        updateQuestion();
    });

    nextBtn.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % allAnswers.length;
        updateQuestion();
    });

    updateQuestion();

    confirmBtn?.addEventListener("click", () => {
        socket.emit("scegliVincitore", {
            id: referenceStanza,
            vincitore: allAnswers[currentIndex][0]
        });
    });
</script>