<div class="flex_gap_30 game_main_con">
    <div class="column sour_gummy_regular flex_gap_25 wait_code_con">
        <div class="winner_profile_con">
            <img class="profile_pfp btn_doubleBorder active_Img" src="" alt="pfp" id="displayPfp">
        </div>
        <div class="column flex_gap_10">
            <div class="card game_card domanda game_card_domanda game_card_style_2 sour_gummy_bold">
                <%= domanda[0] %>
            </div>
        </div>
    </div>
    <button id="vaiAvanti" class="button btn_mediumText btn_style_1 sour_gummy_bold">Avanti</button>
</div>

<script>
    const domandaAttuale = document.querySelector(".domanda");
    const vaiAvanti = document.getElementById("vaiAvanti");
    const risposte = fromFragments["risposte"];
    const vincitore = fromFragments["vincitore"];

    const displayPfp = document.getElementById("displayPfp");
    console.log(fromFragments)

    risposte.forEach(entry => {
        domandaAttuale.textContent = domandaAttuale.textContent.replace("_", entry);
    });

    vaiAvanti.addEventListener("click", () => renderFragment(base, "wait", {
        stanzaId: referenceStanza,
        interroghi: fromFragments["interroghi"],
        primoRound: false
    }));
</script>