<div class="flex_gap_30 game_main_con">
        <div class="column sour_gummy_regular flex_gap_25 wait_code_con">
            <div class="column flex_gap_10">
                <div class="row wait_code_text flex_gap_10">
                    <h4>Codice Stanza: </h4><h4 class="sour_gummy_bold"> <%= stanzaId %></h4>
                </div>
                <button class="button btn_smallText btn_style_1 sour_gummy_bold" id="shareButton">Condividi</button>
            </div>
            <div class="column flex_gap_10">
                <h4 id="attesa"></h4>
                <% if (interroghi) { %>
                    <% if (primoRound) { %>
                        <button class="button btn_mediumText btn_style_2 sour_gummy_bold" id="selectPack">Seleziona Mazzo</button>
                    <% } %>
                    <button class="button btn_mediumText btn_style_2 sour_gummy_bold" id="startButton"><%= primoRound ? "Inizia" : "Continua" %></button>
                <% } %>
            </div>

        </div>
        <div class="column wait_players_list flex_gap_15 btn_doubleBorder">
            <h1 class="sour_gummy_bold wait_players_list_title" id="numeroGiocatori">Giocatori presenti: 0</h1>
            <div class="wait_players_list_hr"></div>
            <div id="showGiocatori">

            </div>
        </div>

</div>

<script>
    socket.off("aggiornamentoAttesa");
    const numeroGiocatoriCount = document.getElementById("numeroGiocatori");
    const attesaView = document.getElementById("attesa");
    const shareButton = document.getElementById("shareButton");
    const showGiocatori = document.getElementById("showGiocatori");
    const startButton = document.getElementById("startButton");
    const selectPack = document.getElementById("selectPack");

    const idStanza = fromFragments["stanzaId"];
    let idAttesaInterval = null;

    socket.on("aggiornamentoAttesa", (data) => {
        const {numeroGiocatori, minimoGiocatori, giocatori} = data || {};
        numeroGiocatoriCount.textContent = numeroGiocatoriCount.textContent.split(":")[0] + ": " + numeroGiocatori;
        if(numeroGiocatori < minimoGiocatori)
            attesaView.textContent = "Wait per altri giocatori ✨";
        else {
            if(fromFragments["interroghi"]) attesaView.textContent = "Muoviti a far partire ✨";
            else attesaView.textContent = "Wait per il prossimo turno ✨";
        }
        updateAttesa();
        renderFragment(showGiocatori, "components/giocatoreRow", {
            giocatori: giocatori
        });
    });
    socket.emit("aggiornaAttesa", {
        stanzaId: idStanza
    });

    const updateAttesa = () => {
        try {
            const initialText = attesaView.textContent;
            while(idAttesaInterval !== null) {
                clearFragmentInterval(idAttesaInterval, fromFragments["pageId"]);
                idAttesaInterval = null;
            }
            idAttesaInterval = fragmentInterval(() => {
                try {
                    const check = attesaView.textContent.split("✨")[1].trim();
                    if (check === "..") attesaView.textContent = initialText;
                    else attesaView.textContent += ".";
                } catch {
                    clearFragmentInterval(idAttesaInterval, fromFragments["pageId"]);
                }
            }, 700, fromFragments["pageId"]);
        } catch {
            clearFragmentInterval(idAttesaInterval, fromFragments["pageId"]);
        }
    };

    shareButton.addEventListener("click", async () => {
        const shareText = "Muovi il culo ed entra nella stanza per giocare inconcepibile sgorbio nato dall'errare umano che non sei altro :))";
        const copytext = "Codice copiato, ora usalo saggiamente scarto umano :))";
        const failText = "Codice non copiato, fai meno il fannullone e faglielo semplicemente vedere :))";
        const shareData = {
            title: "Cucu Ridu",
            text: shareText,
            url: "/partecipaStanza/" + idStanza
        };
        if (navigator.canShare(shareData)) await navigator.share(shareData).catch(_ => null);
        else await navigator.clipboard.writeText(idStanza).then(() => alert(copytext)).catch(_ => alert(failText));
    });

    startButton?.addEventListener("click", () => socket.emit("iniziaTurno", {
        id: referenceStanza
    }));

    selectPack?.addEventListener("click", () => {
        game_section.dispatchEvent(hidePanel);
        packPanel.dispatchEvent(showPanel);
    })
</script>