{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "50",
          "ie": "11",
          "safari": "10"
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ]
  ]
}