/* ---------------------------------------------------
 >>> RESETS
--------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ---------------------------------------------------
 >>> VARIABLES
--------------------------------------------------- */
:root {
    /* Dynamic Colors */

    /* Background 1 */
    --background: #FFEA8F;
    --background-middle: #FFDB57;
    --background-dark: #FFDB57;
    --background-outline: #FFDB57;

    /* Background 2 */
    --background-variant: #A0FFA9;
    --background-variant-middle: #FFDB57;
    --background-variant-dark: #7ED286;
    --background-variant-outline: #7ED286;

    /* Accent Color 1 */
    --accent-color-1: #ADFF7D;
    --accent-color-1-dark: #86FF57;
    --accent-color-1-middle: #59C840;
    --accent-color-1-text: #59C840;
    --accent-color-1-outline: #438E30;

    /* Accent Color 2 */
    --accent-color-2: #FFEA8F;
    --accent-color-2-dark: #FFDB57;
    --accent-color-2-middle: #D1B543;
    --accent-color-2-text: #59C840;
    --accent-color-2-outline: #9A8433;

    /* Accent Color 3 */
    --accent-color-3: #DEC1FF;
    --accent-color-3-dark: #B68EE1;
    --accent-color-3-middle: #9F7BC9;
    --accent-color-3-text: #59C840;
    --accent-color-3-outline: #886AA9;

    /* Loading Screen */
    --loadingScreen-background: #A6A3FF;
    --loadingScreen-background-dark: #7976D2;
    --loadingScreen-accent: #A0FFA9;
    --loadingScreen-accent-outline: #3C9B45;


    /* Static Colors */
    --accent-color-confirm: #aaff75;
    --accent-color-confirm-middle: #aaff75;
    --accent-color-confirm-outline: #aaff75;

    --accent-color-critical: #ff758e;
    --accent-color-critical-middle: #ff758e;
    --accent-color-critical-outline: #ff758e;
    --text-color-normal: #161616;
    --text-color-dark: #080808;
    --text-color-light: #3a3a3a;
}


/* ---------------------------------------------------
 >>> BASE STYLES
--------------------------------------------------- */
* {
    user-select: none;
    -webkit-user-drag: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all ease 0.1s;
}

*::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

body {
    background-color: var(--background-dark);
    background-image: linear-gradient(to bottom, var(--background), var(--background-dark));
    line-height: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ---------------------------------------------------
 >>> BACKGROUND PARALLAX
--------------------------------------------------- */
@keyframes floatingDots {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50px 50px;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;

    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23ffffff'/%3E%3C/svg%3E");
    background-size: 50px 50px;

    will-change: background-position;

    animation: floatingDots 10s linear infinite;
}


/* ---------------------------------------------------
 >>> FONTS AND TEXTS
--------------------------------------------------- */
.nunito_regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nunito_bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sour_gummy_regular {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_regular_italic {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_medium {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_bold {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_bold_italic {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_extra {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_ligth {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Text Colors */
.text_color_normal {
    color: var(--text-color-normal);
}

.text_color_dark {
    color: var(--text-color-dark);
}

.text_color_light {
    color: var(--text-color-light);
}

a {
    color: var(--text-color-light);
}

.title {
    font-size: 3rem;
}

.subTitle {
    font-size: 2rem;
}

.menu_row_title {
    font-size: 1.3rem;
}

.panel_title {
    font-size: 2rem;
    color: var(--background-variant-outline);
}


/* ---------------------------------------------------
 >>> LAYOUT
--------------------------------------------------- */

.section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column_100 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row_mobileColumn {
    display: flex;
    flex-direction: row;
}

.floatSection {
    border: solid 6px var(--background-variant-outline);
    background: var(--background-variant);
    background-image: linear-gradient(to bottom, var(--background-variant), var(--background-variant-middle));
    color: var(--accent-color-1-outline);
    border-radius: 25px;
    padding: 5px;
    font-family: inherit;
}

/* Gaps */
.flex_gap_5 {
    gap: 5px;
}

.flex_gap_10 {
    gap: 10px;
}

.flex_gap_15 {
    gap: 15px;
}

.flex_gap_25 {
    gap: 25px;
}


.flex_gap_30 {
    gap: 30px;
}

/* Mobile */
@media (max-width: 600px) {
    .row_mobileColumn {
        flex-direction: column;
        align-items: center;
    }
}

/* PC */
@media (min-width: 600px) {
    .section_row_column {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        flex: 1;
        justify-content: center;
        gap: 60px;
    }
}


/* ---------------------------------------------------
 >>> BUTTONS
--------------------------------------------------- */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease;
}

.button:active {
    scale: 0.9;
    filter: brightness(70%);
}

.btn_bigText {
    font-size: 23px;
    padding: 15px;
    width: 210px;
    height: 65px;
    margin: 10px;
    border-radius: 50px;
}

.btn_mediumText {
    font-size: 20px;
    padding: 10px;
    width: 190px;
    height: 52px;
    margin: 5px;
    border-radius: 50px;
}

.btn_smallText {
    font-size: 16px;
    padding: 8px;
    width: 105px;
    height: 42px;
    margin: 5px;
    border-radius: 50px;
}

.btn_toggle {
    font-size: 15px;
    padding: 5px;
    width: 60px;
    height: 40px;
    border-radius: 50px;
}

.btn_square {
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.btn_style_1 {
    border: solid 6px var(--accent-color-1-outline);
    background: var(--accent-color-1);
    background-image: linear-gradient(to bottom, var(--accent-color-1), var(--accent-color-1-middle));
    color: var(--accent-color-1-outline);
}

.btn_style_1 svg path {
    fill: var(--accent-color-1-outline); !important;
}

.btn_style_2 {
    border: solid 6px var(--accent-color-2-outline);
    background: var(--accent-color-2);
    background-image: linear-gradient(to bottom, var(--accent-color-2), var(--accent-color-2-middle));
    color: var(--accent-color-2-outline);
}

.btn_style_2 svg path {
    fill: var(--accent-color-2-outline); !important;
}

.btn_style_3 {
    border: solid 6px var(--accent-color-3-outline);
    background: var(--accent-color-3);
    background-image: linear-gradient(to bottom, var(--accent-color-3), var(--accent-color-3-middle));
    color: var(--accent-color-3-outline);
}

.btn_style_3 svg path {
    fill: var(--accent-color-3-outline); !important;
}

.btn_style_confirm {
    border: solid 6px var(--accent-color-confirm-outline);
    background: var(--accent-color-confirm);
    background-image: linear-gradient(to bottom, var(--accent-color-confirm), var(--accent-color-confirm-middle));
    color: var(--accent-color-confirm-outline);
}

.btn_style_critical {
    border: solid 6px var(--accent-color-critical-outline);
    background: var(--accent-color-critical);
    background-image: linear-gradient(to bottom, var(--accent-color-critical), var(--accent-color-critical-middle));
    color: var(--accent-color-critical-outline);
}

.input {
    border-radius: 50px;
    font-family: inherit;
    padding: 8px 7px;
    text-align: center;
    font-size: 1rem;
}

.input:focus {
    scale: 1.1;
}

input:active {
    background: var(--accent-color-3);
    background-image: linear-gradient(to bottom, var(--accent-color-3), var(--accent-color-3-middle));
}

.input_style_1 {
    border: solid 6px var(--accent-color-3-outline);
    background: var(--accent-color-3);
    background-image: linear-gradient(to bottom, var(--accent-color-3), var(--accent-color-3-middle));
    color: var(--accent-color-3-outline);
}

.input_style_1::placeholder {
    color: var(--accent-color-3-text);
}

.btn_doubleBorder {
    box-shadow: 0 0 0 3px white;
}

/* ---------------------------------------------------
 >>> LOADING SCREEN
--------------------------------------------------- */
.loadingscreen {
    content-visibility: visible !important;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    z-index: 1000;
    background-color: var(--loadingScreen-background-dark);
    background-image: linear-gradient(to right top, var(--loadingScreen-background-dark), var(--loadingScreen-background));
    line-height: 1;
    overflow-x: hidden;
}

.loadingscreen::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;

    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23ffffff'/%3E%3C/svg%3E");
    background-size: 50px 50px;

    will-change: background-position;

    animation: floatingDots 10s linear infinite;
}

.loading_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 25px;
}

.loading_img {
    border-radius: 100%;
    border: solid var(--loadingScreen-accent-outline) 6px;
    background: var(--loadingScreen-accent);
    height: 5rem;
    box-shadow: 0 0 0 3px white;
}

.loading_text {
    margin-left: 20px;
    font-size: 1.7rem;
}

.hideRendering {
    filter: blur(16px);
    transition: all 0.3s ease;
    opacity: 0.6;
    pointer-events: none;
}

/* Mobile */
@media (max-width: 600px) {
    .loading_container {
        margin: 10px;
    }

    .loading_text {
        margin-left: 10px;
        font-size: 1.2rem;
    }

    .loading_img {
        height: 3.5rem;
        box-shadow: 0 0 0 3px white;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bubbleBlur {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(16px);
    }
}


/* ---------------------------------------------------
 >>> COMPONENTS
--------------------------------------------------- */
.img_round {
    border-radius: 100%;
    padding: 20px;
    border: solid var(--text-color-dark) 10px;
    background: var(--background-variant);
}


/* ---------------------------------------------------
 >>> OPTIONS
--------------------------------------------------- */

@keyframes popup {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    70% {
        opacity: 1;
        scale: 1.05;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes popdown {
    0% {
        opacity: 1;
        scale: 1;
    }
    20% {
        opacity: 0.7;
        scale: 1.02;
    }
    25% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        scale: 0.5;
    }
}

.visible {
    display: flex;
    animation: popup 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.hidden {
    animation: popdown 0.3s ease-in forwards;
    pointer-events: none;
}

.optionsSection {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
}

.largeSection {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
}

.inputSection {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
}

.options_exit_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    width: 90%;
    color: var(--background-variant-outline);
    border-bottom: dotted 4px var(--background-variant-outline);
    padding-bottom: 10px;
    margin-top: 5px;
}

.active_Btn:active {
    scale: 0.7;
    filter: brightness(0.9);
}

.active_Img:active {
    scale: 0.95;
    filter: brightness(0.9);
}

.options_content {
    width: 80%;
}

.options_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.options_smallTitle {
    font-size: 1rem;
    color: var(--background-variant-outline);
}

.options_svg_icon {
    color: var(--background-variant-outline);
    display: flex;
}

.options_credits_icon img {
    width: 40px;
    height: 40px;
}

.options_footer {
    padding-bottom: 10px;
    width: 90%;
}

@media (max-width: 400px) {
    .optionsSection {
        width: 85%;
    }

    .inputSection {
        width: 90%;
    }

    .largeSection {
        width: 90%;
    }
}

/* PC */
@media (min-width: 700px) {
    .optionsSection {
        width: 50%;
    }

    .inputSection {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .optionsSection {
        width: 30%;
    }

    .inputSection {
        width: 30%;
    }
}

/* ---------------------------------------------------
 >>> OTHER
--------------------------------------------------- */
.shrinks_on_active_for_no_reason:active {
    scale: 0.9;
    filter: brightness(90%);
}

.error_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}

@media (max-width: 500px) {
    .error_container {
        margin-top: 45%;
    }
}

.error_img {
    width: 35%;
    margin-bottom: 10px;
}

@media (min-width: 800px) {
    .error_img {
        width: 25%;
    }
}