/* ---------------------------------------------------
 >>> RESETS
--------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ---------------------------------------------------
 >>> VARIABLES
--------------------------------------------------- */
:root {
    /* Dynamic Colors */

    /* Background 1 */
    --background: #FFEA8F;
    --background-dark: #FFDB57;

    /* Background 2 */
    --background-variant: #A0FFA9;
    --background-variant-dark: #7ED286;

    /* Accent Color 1 */
    --accent-color-1: #ADFF7D;
    --accent-color-1-dark: #86FF57;
    --accent-color-1-middle: #59C840;
    --accent-color-1-text: #59C840;
    --accent-color-1-outline: #438E30;

    /* Accent Color 2 */
    --accent-color-2: #FFEA8F;
    --accent-color-2-dark: #FFDB57;
    --accent-color-2-middle: #D1B543;
    --accent-color-2-text: #59C840;
    --accent-color-2-outline: #9A8433;

    /* Accent Color 3 */
    --accent-color-3: #DEC1FF;
    --accent-color-3-dark: #B68EE1;
    --accent-color-3-middle: #9F7BC9;
    --accent-color-3-text: #59C840;
    --accent-color-3-outline: #886AA9;

    /* Loading Screen */
    --loadingScreen-background: #A6A3FF;
    --loadingScreen-background-dark: #7976D2;
    --loadingScreen-accent: #A0FFA9;
    --loadingScreen-accent-outline: #3C9B45;


    /* Static Colors */
    --accent-color-confirm: #aaff75;
    --accent-color-critical: #ff758e;
    --text-color-normal: #161616;
    --text-color-dark: #080808;
    --text-color-light: #3a3a3a;
}



/* ---------------------------------------------------
 >>> BASE STYLES
--------------------------------------------------- */
* {
    user-select: none;
    -webkit-user-drag: none;
    transition: all ease 0.1s;
}

:focus {
    outline: none;
}

body {
    background-color: var(--background-dark);
    background-image: linear-gradient(to bottom, var(--background), var(--background-dark));
    line-height: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}



/* ---------------------------------------------------
 >>> BACKGROUND PARALLAX
--------------------------------------------------- */
@keyframes floatingDots {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50px 50px;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;

    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23ffffff'/%3E%3C/svg%3E");
    background-size: 50px 50px;

    will-change: background-position;

    animation: floatingDots 10s linear infinite;
}


/* ---------------------------------------------------
 >>> FONTS AND TEXTS
--------------------------------------------------- */
.nunito_regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nunito_bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sour_gummy_regular {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_regular_italic {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_medium {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_bold {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_bold_italic {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_extra {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour_gummy_ligth {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Text Colors */
.text_color_normal {
    color: var(--text-color-normal);
}

.text_color_dark {
    color: var(--text-color-dark);
}

.text_color_light {
    color: var(--text-color-light);
}

a {
    color: var(--text-color-light);
}



/* ---------------------------------------------------
 >>> LAYOUT
--------------------------------------------------- */

.section {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row_mobileColumn {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
    pointer-events: none;
}

/* Gaps */
.flex_gap_15 {
    gap: 15px;
}

.flex_gap_10 {
    gap: 10px;
}

/* Mobile */
@media (max-width: 600px) {
    .row_mobileColumn {
        flex-direction: column;
        align-items: center;
    }
}

/* PC */
@media (min-width: 600px) {
    .section_row_column {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        flex: 1;
        justify-content: center;
        gap: 60px;
    }
}



/* ---------------------------------------------------
 >>> BUTTONS
--------------------------------------------------- */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    height: 65px;
    margin: 10px;
    font-size: 23px;
    font-family: inherit;
    transition: all 150ms ease;
}

.button:active {
    scale: 0.9;
    filter: brightness(70%);
}

.btn_style_1 {
    border: solid 6px var(--accent-color-1-outline);
    background: var(--accent-color-1);
    background-image: linear-gradient(to bottom, var(--accent-color-1), var(--accent-color-1-middle));
    color: var(--accent-color-1-outline);
}

.btn_style_2 {
    border: solid 6px var(--accent-color-2-outline);
    background: var(--accent-color-2);
    background-image: linear-gradient(to bottom, var(--accent-color-2), var(--accent-color-2-middle));
    color: var(--accent-color-2-outline);
}

.btn_style_3 {
    border: solid 6px var(--accent-color-3-outline);
    background: var(--accent-color-3);
    background-image: linear-gradient(to bottom, var(--accent-color-3), var(--accent-color-3-dark));
    color: var(--accent-color-3-outline);
}

.btn_doubleBorder {
    box-shadow: 0 0 0 3px white;
}


/* ---------------------------------------------------
 >>> LOADING SCREEN
--------------------------------------------------- */
.loadingscreen {
    content-visibility: visible !important;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    z-index: 1000;
    background-color: var(--loadingScreen-background-dark);
    background-image: linear-gradient(to right top, var(--loadingScreen-background-dark), var(--loadingScreen-background));
    line-height: 1;
    overflow-x: hidden;
}
.loadingscreen::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;

    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23ffffff'/%3E%3C/svg%3E");
    background-size: 50px 50px;

    will-change: background-position;

    animation: floatingDots 10s linear infinite;
}

.loading_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 25px;
}

.loading_img {
    border-radius: 100%;
    border: solid var(--loadingScreen-accent-outline) 6px;
    background: var(--loadingScreen-accent);
    height: 5rem;
    box-shadow: 0 0 0 3px white;
}

.loading_text {
    margin-left: 20px;
    font-size: 1.7rem;
}

/* Mobile */
@media (max-width: 600px) {
    .loading_container {
        margin: 10px;
    }

    .loading_text {
        margin-left: 10px;
        font-size: 1.2rem;
    }

    .loading_img {
        height: 3.5rem;
        box-shadow: 0 0 0 3px white;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ---------------------------------------------------
 >>> COMPONENTS
--------------------------------------------------- */
.img_round {
    border-radius: 100%;
    padding: 20px;
    border: solid var(--text-color-dark) 10px;
    background: var(--background-variant);
}





/* ---------------------------------------------------
 >>> OTHER
--------------------------------------------------- */
.shrinks_on_active_for_no_reason:active {
    scale: 0.9;
    filter: brightness(90%);
}