/* ---------------------------------------------------
 >>> LAYOUT
--------------------------------------------------- */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}



/* ---------------------------------------------------
 >>> COMPONENTS
--------------------------------------------------- */
.index_game_title {
    font-size: 3rem;
}
