.wait_main_con {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.wait_code_text {
    font-size: 1.7rem;
}

.wait_players_list {
    flex-grow: 0.5;
    border: solid 6px var(--background-variant-outline);
    background: var(--background-variant);
    background-image: linear-gradient(to bottom, var(--background-variant), var(--background-variant-middle));
    border-radius: 25px;
    padding: 25px;
    font-family: inherit;
    color: var(--background-variant-outline);
    margin: 10px 0;
}

.wait_players_list_hr {
    width: 90%;
    border-bottom: dotted 4px var(--background-variant-outline);
    height: 5px;
    margin: 5px;
}

.wait_players_list_title {
    font-size: 1.3rem;
}

.wait_players_list_name {
    font-size: 1.1rem;
}

.wait_players_list_pfp {
    border-radius: 100%;
    height: 50px;
    padding: 3px;
    border: solid var(--accent-color-3-outline) 4px;
    background: var(--accent-color-3-middle);
}

.wait_players_list_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

@media (max-width: 800px) {
    .wait_main_con {
        width: 90%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .wait_players_list {
        width: auto;
        padding: 25px 10px;
    }
}