/* ---------------------------------------------------
 >>> NAVBAR STYLES
--------------------------------------------------- */
.lobby_navbar {
    position: fixed;
}

.game_section {
    position: absolute;
    justify-content: start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
}

#landpoint {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#navbar_con {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navbar_pause_btn {
    margin: 5px;
}


/* ---------------------------------------------------
 >>> WAIT PAGE
--------------------------------------------------- */
.game_main_con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.wait_code_text {
    font-size: 1.7rem;
}

.wait_players_list {
    flex-grow: 0.5;
    border: solid 6px var(--background-variant-outline);
    background: var(--background-variant);
    background-image: linear-gradient(to bottom, var(--background-variant), var(--background-variant-middle));
    border-radius: 25px;
    padding: 25px;
    font-family: inherit;
    color: var(--background-variant-outline);
    margin: 10px 0;
}

.wait_players_list_hr {
    width: 90%;
    border-bottom: dotted 4px var(--background-variant-outline);
    height: 5px;
    margin: 5px;
}

.wait_players_list_title {
    font-size: 1.3rem;
}

.wait_players_list_name {
    font-size: 1.1rem;
}

.wait_players_list_pfp {
    border-radius: 100%;
    height: 50px;
    padding: 3px;
    border: solid var(--accent-color-3-outline) 4px;
    background: var(--accent-color-3-middle);
}

.wait_players_list_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

@media (max-width: 800px) {
    .game_main_con {
        width: 90%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .wait_main_con {
        align-items: center;
    }
}

@media (max-width: 450px) {
    .wait_players_list {
        width: auto;
        padding: 25px 10px;
    }
}