<meta content="<%= bgm %>" name="bgm">
<div id="audio-init-data" data-bgm="/audio/background/<%= bgm %>.ogg" class="hidden"></div>
<audio preload="none" id="soundAudio" class="hidden"></audio>

<script src="<%= scripts %>/views/audioManager.js"></script>