<div class="section hidden sectionToHide showByConnectionManager" id="chatMenu">
    <div class="floatSection btn_doubleBorder pauseSection">
        <div class="options_exit_btn upper sour_gummy_extra" >
            <h1 class="panel_title sour_gummy_bold">Chat</h1>
            <h1 class="active_Btn" id="exitChatBtn">X</h1>
        </div>
        <div class="pause_content sour_gummy_medium">
            <div class="chat_list_con_bg" id="chat">
            </div>

        </div>
        <div class="pause_footer_con column">
            <div class="wait_players_list_hr"></div>
            <div class="options_row chat_footer pause_footer_margin">
                <textarea class="input input_style_1 chatInput sour_gummy_bold"
                        id="inputMessage"
                        placeholder="Scrivi qualche cazzata..."></textarea>
                <button id="sendBtn" class="button btn_toggle btn_style_2 sour_gummy_extra">Invia</button>
            </div>
        </div>
    </div>
</div>

<script src="<%= scripts %>/views/components/chatMenu.js"></script>