<div class="section hidden" id="connectionPanel">
    <div class="floatSection noInternetSection btn_doubleBorder">
        <div class="column sour_gummy_bold">
            <img class="noInternet_img" alt="nointernet" src="./assets/offline_icon.png">
            <h3 class="noInternet_title">Sembra che tu non sia connesso ad internet, pirla</h3>
        </div>
    </div>
</div>

<script>
    const connectionPanel = document.getElementById("connectionPanel");

    document.addEventListener("DOMContentLoaded", () => {
        const showByConnectionManager = document.querySelectorAll(".showByConnectionManager");

        window.addEventListener("offline", () => document.dispatchEvent(stateDisconnected));
        window.addEventListener("online", () => document.dispatchEvent(stateConnected));

        (() => {
            document.addEventListener("doConnected", () => {
                connectionPanel.dispatchEvent(hidePanel);
                showByConnectionManager.forEach(pan => pan.dispatchEvent(showPanelCond));
            });

            document.addEventListener("doDisconnected", () => {
                showByConnectionManager.forEach(pan => pan.dispatchEvent(hidePanelCond));
                connectionPanel.dispatchEvent(showPanel);
            });
        })();
    });
</script>