<div class="section hidden" id="connectionPanel">
    <div class="shrinks_on_active_for_no_reason floatSection noInternetSection btn_doubleBorder">
        <div class="column sour_gummy_bold">
            <img class="noInternet_img" alt="nointernet" src="./assets/offline_icon.png">
            <h3 class="noInternet_title">Sembra che tu non sia connesso ad internet, pirla</h3>
        </div>
    </div>
</div>

<script src="<%= scripts %>/views/components/connectionManager.js"></script>