<div class="section hidden" id="absolutePanel">
    <div class="floatSection optionsSection flex_gap_30 btn_doubleBorder">
        <div class="options_exit_btn upper sour_gummy_extra" >
            <h2 class="panel_title sour_gummy_bold"><%= title %></h2>
        </div>
        <div class="column">
            <img class="error_img" alt="cucuridu" src="./assets/error_icon.png">
            <h1 class="absoluteTitle"><%= message %></h1>
        </div>
        <div class="row options_footer">
            <a target="_blank" href="<%= redirect %>" class="button">Torna alla home</a>
        </div>
    </div>
</div>

<script>
    document.body.querySelectorAll("div").forEach(div => div.dispatchEvent(hidePanel));
    document.getElementById("absolutePanel").dispatchEvent(showPanel);
</script>