<div class="loadingscreen">
    <div class="loading_container">
        <img loading="eager" fetchpriority="high" class="loading_img" src="/assets/loading.webp" alt="loadingScreen">
        <h5 class="sour_gummy_bold_italic text_color_dark loading_text" id="textLoading">Caricando...</h5>
    </div>
</div>

<script src="<%= scripts %>/views/loadScreen.js"></script>