<div class="loadscreen">
    <div class="row">
        <img class="loadimg" src="/assets/loading.gif" alt="loadingScreen">
        <h5 id="textLoading">Caricando</h5>
    </div>
</div>

<script>
    const unloadScreen = new Event("loadScreenEnd");
    (() => {
        const timing = 300;
        const element = document.querySelector(".loadscreen");
        const update = () => {
            if (document.getElementById("textLoading").textContent === "Caricando...")
                document.getElementById("textLoading").textContent = "Caricando";
            else
                document.getElementById("textLoading").textContent += '.';
        };
        let intervalId = setInterval(update, timing);
        document.addEventListener("loadScreenEnd", () => {
            clearInterval(intervalId);
            element.style.animation = "disappear " + timing + "ms ease-out forwards";
            setTimeout(() => document.body.removeChild(element), timing);
        });
        document.addEventListener("loadScreenStart", () => {
            intervalId = setInterval(update, timing);
            element.style.animation = "appear " + timing + "ms ease-in forwards";
            setTimeout(() => document.body.appendChild(element), timing);
        });
    })();
</script>