<div class="section hidden" id="selectPacks">
    <div class="floatSection">
        <div class="options_exit_btn upper sour_gummy_extra" >
            <h1 class="panel_title sour_gummy_bold">Seleziona Mazzo</h1>
            <h1 class="active_Btn" id="exitBtn">X</h1>
        </div>
        <div class="options_content column nunito_bold flex_gap_30">
            <div class="row_mobileColumn">
                <% knownPacks.forEach(pack => { %>
                    <div class="tile defaultPack" pack="<%= pack %>">
                        <h4><%= pack.charAt(0).toUpperCase() + pack.slice(1) %>></h4>
                    </div>
                <% }) %>
                <div id="customPack" class="tile">
                    <h4>Personalizzati</h4>
                    <input type="file" id="inputFile" class="hidden" accept="application/json,.cucuridupack" multiple/>
                </div>
            </div>
            <button id="confirmPacks">Seleziona</button>
        </div>
        <div class="options_row options_footer">
            <h6><a href="/creaMazzo" target="_blank" class="shrinks_on_active_for_no_reason">Scopri come creare un mazzo</a></h6>
        </div>
    </div>
</div>

<script>
    const confirmPacks = document.getElementById("confirmPacks");
    const sectionDefault = document.querySelector(".sectionToHide");
    const customTile = document.getElementById("customPack");
    const inputFile = document.getElementById("inputFile");
    const exitBtn = document.getElementById("exitBtn");
    const tiles = document.querySelectorAll(".tile");
    const packPanel = document.getElementById("selectPacks");
    const packs = [];
    let standardPacks = new Set();
    const readText = async (file) => {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = () => resolve(reader.result);
            reader.onerror = () => reject(new Error("Errore durante la lettura del file"));
            reader.readAsText(file);
        });
    };

    tiles.forEach((tile) => {
        tile.addEventListener("click", () => {
            if(tile.classList.contains("selectedPack")) {
                if(tile.classList.contains("defaultPack")) standardPacks.add(tile.getAttribute("pack"));
                tile.classList.remove("selectedPack");
            } else {
                if(tile.classList.contains("defaultPack")) standardPacks.delete(tile.getAttribute("pack"));
                tile.classList.remove("selectedPack");
            }
        });
    });

    customTile.addEventListener("click", () => {
        if(customTile.classList.contains("selectedPack")) {
            packs.slice(0, packs.length);
        } else {
            inputFile.click();
        }
    })

    inputFile.addEventListener("cancel", () => {
        packs.slice(0, packs.length);
        customTile.classList.remove("selectedPack");
    });

    inputFile.addEventListener("change", async () => {
        const files = Array.from(inputFile.files);
        if(files.length === 0) {
            packs.slice(0, packs.length);
            customTile.classList.remove("selectedPack");
            return;
        }
        try {
            const mazzi = files.map(async (file) => {
                return { name: file.name, content: await readText(file) };
            });
            const risultatiMazzi = await Promise.all(mazzi);
            for (const mazzo of risultatiMazzi) {
                const check = (mazzo.name.includes(".cucuridupack") || mazzo.name.includes(".json"))
                    && (JSON.parse(mazzo.content)["frasi"] !== null && JSON.parse(mazzo.content)["completamenti"] !== null);
                if(check)
                    packs.push(JSON.parse(mazzo.content));
                else
                    throw new Error(`Ma ce la fai? Hai una malattia grave? Dei cormosomi di troppo su per il culo? ${mazzo.name} non è un mazzo valido, pirla!`)
            }
        } catch (error) {
            alert(error);
            packs.slice(0, packs.length);
            customTile.classList.remove("selectedPack");
        }
    });

    confirmPacks.addEventListener("click", () => {
        if(standardPacks.size === 0 && packs.length === 0)
            alert("Ma porchino il dio piccolino... devi selezionare qualcosa... NO?")
        else {
            socket.emit("aggiungiMazzo", {
                id: referenceStanza,
                packs: [...standardPacks.values(), ...packs]
            })
        }
    });

    exitBtn.addEventListener("click", () => {
        packPanel.dispatchEvent(hidePanel);
        sectionDefault.dispatchEvent(showPanel);
    });
</script>