<div class="section hidden sectionToHide" id="pauseMenu">
    <div class="floatSection optionsSection flex_gap_30 btn_doubleBorder">
        <div class="options_exit_btn upper sour_gummy_extra" >
            <h1 class="panel_title sour_gummy_bold">Pause</h1>
            <h1 class="active_Btn" id="exitPauseBtn">X</h1>
        </div>
        <div class="options_content column nunito_bold">
            <div class="row wait_code_text flex_gap_10">
                <h4>Codice Stanza: </h4><h4 class="sour_gummy_bold"> <%= stanzaId %></h4>
            </div>
            <button class="button btn_bigText btn_style_1 sour_gummy_bold" id="optionsBtn">Options</button>
            <button class="button btn_bigText btn_style_critical sour_gummy_bold" id="leaveBtn">Leave</button>
        </div>
        <div class="options_row options_footer">


        </div>
    </div>
</div>

<script>
    const optionsBtn = document.getElementById("optionsBtn");

    optionsBtn.addEventListener("click", () => {
        pauseMenu.dispatchEvent(hidePanel);
        optionPanel.dispatchEvent(showPanel);
    });
</script>