<div class="section visible">
    <div class="column create_con flex_gap_30">
        <h3 class="subTitle sour_gummy_extra">Crea Espansione</h3>

        <div class="create_outer_con">
            <div class="create_section create_section_style_1 create_guide_con btn_doubleBorder sour_gummy_medium">
                <h2>Linee Guida per le Espansioni Personalizzate</h2>
                <p>Assicurati che il tuo file .txt rispetti queste regole per far funzionare l'espansione in modo super smooth</p>

                <section>
                    <h3>Criteri di compatibilità</h3>
                    <p><strong>Per i Completamenti:</strong> Ogni completamento dovrebbe fittare bene in tutte queste frasi:</p>
                    <ul>
                        <li>_ è un ottimo rimedio per il cancro</li>
                        <li>Hai mai provato a _ ?</li>
                        <li>Pensare a _ ti farà solo soffrire</li>
                    </ul>

                    <p><strong>Per le Frasi:</strong> Ogni frase deve essere adatta a questi completamenti:</p>
                    <ul>
                        <li>Gerry Scotty</li>
                        <li>I froci</li>
                        <li>Manomettere i freni di una sedia a rotelle</li>
                        <li>Brumotti picchiato nelle periferie</li>
                        <li>La mentalità ISIS</li>
                    </ul>
                </section>

                <hr>

                <section>
                    <h3>Regole per scrivere il file TXT</h3>
                    <ul>
                        <li>Gli spazi nelle frasi vanno indicati con il trattino basso: <code>_</code></li>
                        <li>Lascia uno spazio prima e dopo lo spazio vuoto ( <code> _ </code> ). Se però lo spazio è seguito da un segno di punteggiatura, mettilo attaccato ( <code>_.</code> oppure <code>_,</code> )</li>
                        <li><strong>NON</strong> mettere i punti alla fine delle frasi</li>
                        <li><strong>NON</strong> mettere spazi all'inizio e alla fine dei completamenti</li>
                        <li>Se una parola all'inizio della frase deve essere maiuscola, metti <code>&lt;§&gt;x</code> davanti (es. <code>&lt;§IL SEDICI MARZOO&gt;</code>)</li>
                    </ul>
                </section>
            </div>

            <div class="create_section create_section_style_2 create_uploads_con btn_doubleBorder sour_gummy_medium">
                <div class="tiles_grid">
                    <div id="tileFrasi" class="tile defaultPack shrinks_on_active_for_no_reason packColor_4">
                        <div class="custom_pack_wrapper">
                            <img id="customPackImg" src="/assets/packs/create_frasi.jpg" alt="Frasi">
                        </div>
                        <input id="inputFrasi" type="file" multiple accept=".txt" hidden>
                    </div>

                    <div id="tileCompletamenti" class="tile defaultPack shrinks_on_active_for_no_reason packColor_4">
                        <div class="custom_pack_wrapper">
                            <img id="customPackImg" src="/assets/packs/create_completamenti.jpg" alt="Completamenti">
                        </div>
                        <input id="inputCompletamenti" type="file" multiple accept=".txt" hidden>
                    </div>
                </div>


                <button id="caricaMazzi" class="button btn_mediumText btn_style_1 sour_gummy_bold">Carica</button>
            </div>
        </div>

    </div>
</div>
<script src="/script/createPacks.js"></script>