<div class="section visible">
    <div class="column flex_gap_30">
        <h3 class="subTitle sour_gummy_extra">Carica un mazzo</h3>
        <div class="column flex_gap_10 sour_gummy_bold">
            <input placeholder="frasi" id="inputFrasi" type="file" multiple accept=".txt">
            <input placeholder="completamenti" id="inputCompletamenti" multiple type="file" accept=".txt">
            <button id="caricaMazzi">Carica</button>
        </div>
    </div>
</div>
<script src="/script/create.js"></script>