<div class="section">
    <div class="error_container flex_gap_10">
        <img class="error_img" alt="cucuridu" src="./assets/error_icon.png">
        <h1 class="title sour_gummy_bold">Errore <%= error %></h1>
        <h3 class="nunito_bold"><%= message %></h3>
        <br>
        <button class="button btn_mediumText btn_style_3 sour_gummy_bold" onclick="navigateWithLoading('/')">Torna alla home</button>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.dispatchEvent(unloadScreen);
    });
</script>