<div class="section">
    <div class="column">
        <img class="indexIcon" alt="cucuridu" src="<%= icon %>">
        <h1>Errore <%= error %></h1>
        <h3><%= message %></h3>
    </div>
    <button onclick="window.location.href = '/'">Torna alla home</button>
</div>