<%- include("components/loadScreen") %>
<div class="section">
    <div class="column">
        <img src="<%= icon %>" alt="cucuridu">
        <h1>Cucu Ridu</h1>
        <h3>America Ya (Hallo Hallo Hallo) 👋</h3>
    </div>
    <div class="column">
        <button id="createRoom" class="indexButtons">Crea</button>
        <button id="joinRoom" class="indexButtons">Partecipa</button>
    </div>
</div>
<footer>
    <div class="row">
        <h5>Ora vai e spargi il caos, tesoro. America Ya! 👋✨</h5>
        <h6>Copyright© 2026 <a target="_blank" href="https://github.com/arco2121/">arco2121</a>, <a target="_blank" href="https://github.com/Abcia2/">Abcia 2</a></h6>
    </div>
</footer>
<script src="/script/index.js"></script>