<div class="section">
    <div class="column flex_gap_30">
        <h3 class="subTitle sour_gummy_extra">Inserisci il codice della stanza</h3>
        <form action="/partecipaStanza" id="sendStanza" method="get">
            <div class="column flex_gap_10 sour_gummy_bold">
                <input class="input input_style_1 btn_doubleBorder sour_gummy_bold" name="stanza" id="inputCode" type="text" required placeholder="Codice Stanza" maxlength="6" style="text-transform: uppercase;">
                <input type="submit" class="button btn_smallText btn_style_1 sour_gummy_bold btn_doubleBorder" value="Entra">
            </div>
        </form>
    </div>
</div>
<script src="/script/join.js"></script>