<div class="section">
    <div class="column">
        <h3>Inserisci il codice della stanza</h3>
        <form action="/partecipaStanza" id="sendStanza" method="get">
            <div class="form_column">
                <input name="stanza" id="inputCode" type="text" required placeholder="Codice Stanza" maxlength="6" style="text-transform: uppercase;">
                <input type="submit" class="btn_style_1" value="Entra">
            </div>
        </form>
    </div>
</div>
<script src="/script/join.js"></script>