<div class="section">
    <div class="column flex_gap_30">
        <h3 class="subTitle sour_gummy_extra">Inserisci il codice della stanza</h3>
        <div class="column flex_gap_10 sour_gummy_bold">
            <input class="input input_style_1 btn_doubleBorder sour_gummy_bold" id="inputCode" type="text" required placeholder="Codice Stanza" maxlength="6" style="text-transform: uppercase;">
            <button id="sendStanza" class="button btn_smallText btn_style_1 sour_gummy_bold btn_doubleBorder">Entra</button>
        </div>
    </div>
</div>
<script src="/script/join.js"></script>