<%- include("components/loadScreen") %>
<div class="section" id="landpoint"></div>

<script src="https://cdn.jsdelivr.net/npm/ejs@4.0.1/ejs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/script/lobby.js"></script>