<%- include("components/connectionManager") %>
<%- include("components/packsPanel") %>
<div class="section visible sectionToHide" id="landpoint"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/script/GiocatoreInterface.js"></script>
<script src="/script/lobby.js"></script>