<%- include("components/preventBack") %>
<div class="section" id="landpoint"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/script/GiocatoriAdapt.js"></script>
<script src="/script/lobby.js"></script>