<div class="section visible" id="profile">
    <div class="column_100 flex_gap_25">
        <img class="profile_pfp btn_doubleBorder active_Img" src="" alt="pfp" id="displayPfp">

        <div class="column flex_gap_10">
            <div class="profile_title_row">
                <h3 class="profile_title sour_gummy_regular">Scegli un nome</h3>
                <img id="changeNameBtn" src="/assets/pencil.png" alt="cambiaNome">
            </div>

            <h4 class="profile_name sour_gummy_bold" id="displayName">Nomino Porchino</h4>
        </div>

        <div class="column flex_gap_5">
            <button id="confirm" class="button btn_mediumText btn_style_2 sour_gummy_bold btn_doubleBorder">Conferma
            </button>
            <button id="randomize" class="button btn_smallText btn_style_3 sour_gummy_bold btn_doubleBorder">Random
            </button>
        </div>
    </div>
</div>

<div class="section hidden" id="selectPfp">
    <div class="floatSection largeSection btn_doubleBorder flex_gap_30">
        <div class="options_exit_btn upper sour_gummy_extra">
            <h2 class="panel_title sour_gummy_bold">Seleziona Pfp</h2>
            <h1 class="active_Btn" id="exitBtnPfp">X</h1>
        </div>
        <div class="pfp_content nunito_bold flex_gap_30">
            <div class="profile_pfp_grid">
                <% setOfPfp.forEach(pfp => { %>
                    <img src="<%= pfp %>" class="pfp_selection" alt="pfp">
                <% }); %>
            </div>
        </div>
    </div>
</div>

<div class="section hidden" id="selectUsername">
    <div class="floatSection inputSection flex_gap_25 btn_doubleBorder">
        <div class="options_exit_btn sour_gummy_extra">
            <h2 class="panel_title sour_gummy_bold">Scegli Un Nome</h2>
            <h1 class="active_Btn" id="exitBtnName">X</h1>
        </div>
        <div class="column nunito_bold">
            <input class="input profile_input input_style_1 sour_gummy_bold btn_doubleBorder" type="text"
                   id="customUsername">
        </div>
        <div class="column options_footer">
            <button id="confirmUsername" class="button btn_mediumText btn_style_1 sour_gummy_bold">Conferma</button>
            <button id="randomUsername" class="button btn_smallText btn_style_2 sour_gummy_bold">Random</button>
        </div>
    </div>
</div>

<script src="/script/profile.js"></script>