<div class="section">
    <h3>Seleziona il mazzo</h3>
    <div class="column">
        <div class="row_mobileColumn">
            <div class="tile">
                <h4>Standard</h4>
            </div>
            <div id="customPack" class="tile">
                <h4>Personalizzati</h4>
                <input type="file" id="inputFile" class="hidden" accept="application/json,.cucuridupack" multiple/>
            </div>
        </div>
        <button id="confirmPacks">Seleziona</button>
    </div>
</div>
<script src="/script/select.js"></script>