<% messages.forEach(message => { %>
    <div class="message_row <%= message.giocatoreId === you ? "fromYou" : "fromElse"%>">
        <div class="message input_style_1">
            <div class="message_info wait_players_list_row">
                <img src="<%= message.pfp %>" alt="pfp" class="wait_players_list_pfp">
                <h6 class="wait_players_list_name"><%= message.username %></h6>
            </div>
            <h5 class="message_text"><%= message.messaggio %></h5>

        </div>

    </div>
<% }) %>