<% giocatori.forEach(giocatore => { %>
    <div class="row pause_players_list_row flex_gap_5">
        <% if(giocatore["punti"] > 0) { %>
            <p class="nunito_bold"><%= giocatore["punti"] %></p>
        <% } %>

        <img src="<%= giocatore["pfp"] %>" alt="imgGiocatore"
             class="giocatorePfpWaiting pause_players_list_pfp shrinks_on_active_for_no_reason">
        <h3 class="giocatoreUsernameWaiting pause_players_list_name sour_gummy_medium"><%= giocatore["username"] %></h3>
    </div>
<% }); %>